@layer molecules {
	.land-game {
		display: flex;
		flex-direction: column;
		padding-block-start: 48px;
		background-color: var(--s-color-white);
	}

	.land-game__picture {
		overflow: hidden;
		position: relative;
		width: 100%;
		max-width: 374px;
		height: 420px;
		margin: auto;

		&:hover {
			.land-game__picture__player-bg path,
			.land-game__picture__knight-bg path {
				fill: var(--s-color-accent);
			}
		}
	}

	.land-game__picture__player-bg path,
	.land-game__picture__knight-bg path {
		transition: fill 0.2s cubic-bezier(0.23, 1, 0.32, 1);
	}

	.land-game__picture__layer {
		position: absolute;
	}

	.land-game__picture__hand {
		top: 267px;
		left: 156px;
		width: 201px;
		height: 207px;
	}

	.land-game__picture__knight {
		top: 284px;
		left: 63px;
		width: 112px;
		height: 122px;
	}

	.land-game__picture__knight-bg {
		top: 230px;
		left: 14px;
		width: 166px;
		height: 179px;
	}

	.land-game__picture__player {
		top: 95px;
		left: 73px;
		width: 239px;
		height: 240px;
	}

	.land-game__picture__player-bg {
		top: 12px;
		left: 0;
		width: 374px;
		height: 243px;
	}

	.land-game__picture__money {
		top: 48px;
		left: 268px;
		width: 85px;
		height: 172px;
	}

	.land-game__picture__bg {
		top: 60px;
		left: 34px;
		width: 287px;
		height: 309px;
	}

	.land-game__picture__paper-texture {
		top: 0;
		left: 0;
		mix-blend-mode: color-burn;
		width: 100%;
		height: 100%;
	}

	.land-game__text {
		font-family: var(--font-merriweather);
		font-size: 28px;
		font-optical-sizing: 18;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 1.35;
		padding-block-start: 24px;
		padding-block-end: 44px;
	}

	.land-game__text-accent {
		font-weight: 700;
		color: var(--s-color-accent);
	}

	.land-game__grid {
		display: grid;
		font-size: 20px;

		margin-bottom: 200px;
	}

	.land-game__grid__label {
		padding-block-end: 12px;
		color: var(--s-color-primary-foreground);
	}

	.land-game__grid__value {
		padding-block-end: 16px;
		font-weight: 600;

		&:not(:last-of-type) {
			border-bottom: 1px solid;
			margin-block-end: 16px;
		}
	}

	@media (min-width: 1262px) {
		.land-game__grid {
			grid-template-columns: max-content 1fr;
		}

		.land-game__grid__label {
			padding-inline-end: 16px;

			&:not(:nth-last-of-type(2)) {
				border-bottom: 1px solid;
			}
		}

		.land-game__grid__value {
			border-left: 1px solid;
			padding-inline-start: 16px;

			&:not(:last-of-type) {
				margin-block-end: 0px;
			}
		}

		.land-game__grid__label,
		.land-game__grid__value {
			padding-block-end: 16px;
			padding-block-start: 16px;
		}
	}
}
