@layer molecules {
	.land-game {
		display: flex;
		flex-direction: column;
		padding-block-start: 437px;
		background-color: var(--s-color-white);
		position: relative;

		.wrapper {
			flex-direction: column;
		}
	}

	.land-game__picture {
		--s: 1;

		overflow: hidden;
		position: absolute;
		top: 22px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: calc(374px * var(--s));
		height: calc(420px * var(--s));
		margin: auto;
		background-color: var(--s-color-white);

		&:hover {
			.land-game__picture__player-bg path,
			.land-game__picture__knight-bg path {
				fill: var(--s-color-accent);
			}
		}
	}

	.land-game__picture__player-bg path,
	.land-game__picture__knight-bg path {
		transition: fill 0.2s cubic-bezier(0.23, 1, 0.32, 1);
	}

	.land-game__picture__layer {
		position: absolute;
	}

	.land-game__picture__hand {
		top: calc(267px * var(--s));
		left: calc(156px * var(--s));
		width: calc(201px * var(--s));
		height: calc(207px * var(--s));
	}

	.land-game__picture__knight {
		top: calc(284px * var(--s));
		left: calc(63px * var(--s));
		width: calc(112px * var(--s));
		height: calc(122px * var(--s));
	}

	.land-game__picture__knight-bg {
		top: calc(230px * var(--s));
		left: calc(14px * var(--s));
		width: calc(166px * var(--s));
		height: calc(179px * var(--s));
	}

	.land-game__picture__player {
		top: calc(95px * var(--s));
		left: calc(73px * var(--s));
		width: calc(239px * var(--s));
		height: calc(240px * var(--s));
	}

	.land-game__picture__player-bg {
		top: calc(12px * var(--s));
		left: 0;
		width: calc(374px * var(--s));
		height: calc(243px * var(--s));
	}

	.land-game__picture__money {
		top: calc(48px * var(--s));
		left: calc(268px * var(--s));
		width: calc(85px * var(--s));
		height: calc(172px * var(--s));
	}

	.land-game__picture__bg {
		top: calc(60px * var(--s));
		left: calc(34px * var(--s));
		width: calc(287px * var(--s));
		height: calc(309px * var(--s));
	}

	.land-game__picture__paper-texture {
		top: 0;
		left: 0;
		mix-blend-mode: color-burn;
		width: 100%;
		height: 100%;
	}

	.land-game__text {
		font-family: var(--font-merriweather);
		font-size: 28px;
		font-optical-sizing: 18;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 1.35;
		padding-block-start: 24px;
		padding-block-end: 45px;
	}

	.land-game__text-accent {
		font-weight: 700;
		color: var(--s-color-accent);
	}

	.land-game__grid {
		--b-style: 1px solid var(--s-border-color-default);

		position: relative;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		font-size: 20px;
	}

	.land-game__grid__label {
		padding-block-end: 12px;
		padding-inline-end: 12px;
		color: var(--s-color-primary-foreground);
	}

	.land-game__grid__value {
		padding-block-end: 16px;
		font-weight: 600;

		&:not(:last-of-type) {
			margin-block-end: 16px;
		}
	}

	@media (max-width: 1261.95px) {
		.land-game__grid__value:not(:last-of-type) {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: -450px;
				background-color: var(--s-border-color-default);
				height: 1px;
				width: 900px;
			}
		}
	}

	.land-game__foottext {
		padding-block-start: 24px;
		font-size: 18px;
		color: var(--s-color-blue);
	}

	.land-game__grid__value-decoration {
		text-decoration: line-through;
		text-decoration-color: var(--s-color-accent);
		text-decoration-thickness: 2px;
		padding-inline-end: 7px;
	}

	@media (min-width: 1262px) {
		.land-game {
			padding-block-start: 40px;

			.wrapper {
				padding-inline-start: 518px;
				position: relative;
			}
		}

		.land-game__text {
			font-size: 36px;
			padding-block-end: 61px;
		}

		.land-game__picture {
			--s: 1.42;

			top: 0;
			left: 0;
			transform: translateX(-26px) translateY(-22px);
		}

		.land-game__grid {
			display: grid;
			background-color: var(--s-border-color-default);
			grid-template-columns: max-content 1fr;
		}

		.land-game__grid__label {
			padding-inline-end: 21px;
			background-color: var(--s-color-white);

			&:not(:last-of-type) {
				margin-block-end: 1px;
			}
		}

		.land-game__grid__value {
			padding-inline-start: 16px;
			background-color: var(--s-color-white);
			margin-inline-start: 1px;

			&:not(:last-of-type) {
				margin-block-end: 1px;
			}
		}

		.land-game__grid__label,
		.land-game__grid__value {
			padding-block-end: 15px;
			padding-block-start: 16px;
		}

		.land-game__grid {
			& div:first-of-type {
				padding-block-start: 0;
			}
			& div:nth-child(2) {
				padding-block-start: 0;
			}
			& div:last-of-type {
				padding-block-end: 0;
				margin-block-end: 0;
			}
			& div:nth-last-child(2) {
				padding-block-end: 0;
				margin-block-end: 0;
			}
		}

		.land-game__foottext {
			font-size: 20px;
			padding-block-start: 48px;
			padding-block-end: 60px;
		}
	}
}
