@layer molecules {
	.land-footer {
		display: flex;
		flex-direction: column;
		padding-inline: 20px;
		padding-block-start: 40px;
		padding-block-end: 60px;
		color: var(--s-color-secondary);

		p {
			max-width: 335px;
			margin-inline: auto;
		}
	}

	@media (min-width: 1262px) {
		.land-footer {
			padding-block-end: 72px;

			p {
				max-width: 1222px;
			}
		}
	}
}
