<section class="land-announcement">
	<div class="wrapper">
		<p class="land-announcement__text">
			<span>Чтобы поддержать Международный васюкинский турнир</span>
			<img src="/assets/pictures/announcement.webp" alt="announcement" class="land-announcement__picture" />
			<span>посетите лекцию на тему: <span class="land-announcement__text-accent">«Плодотворная дебютная идея»</span></span>
		</p>
	</div>
</section>
