---
import DefautLayout from '~/astro/layouts/default.astro'

import LandHero from '~/astro/components/land-hero/land-hero.astro'
import LandMarquee from '~/astro/components/land-marquee.astro'
import LandAnnouncement from '~/astro/components/land-announcement.astro'
import LandGame from '~/astro/components/land-game/land-game.astro'
import LandSteps from '~/astro/components/land-steps.astro'
import LandPlayers from '~/astro/components/land-players.astro'
import LandFooter from '~/astro/components/land-footer.astro'
---

<DefautLayout>
	<main class="landing">
		<LandHero />
		<LandMarquee class="r-to-l" />
		<LandAnnouncement />
		<LandGame />
		<LandSteps />
		<LandPlayers />
		<LandMarquee class="l-to-r" />
		<LandFooter />
	</main>
</DefautLayout>
