@layer atoms {
	.btn-outline-blue {
		border: 1px solid var(--s-color-blue);

		&:not(:disabled) {
			cursor: pointer;
		}
	}

	.btn-bubble {
		--s: 36px;

		width: var(--s);
		height: var(--s);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: cursor;
		border-radius: 50%;
	}
}
