@layer atoms {
	button,
	.button {
		all: unset;

		&:disabled {
			cursor: not-allowed;
		}

		&:not(:disabled) {
			cursor: pointer;

			&:focus-visible {
				outline: 2px solid var(--s-color-primary);
				outline-offset: 2px;
			}
		}
	}

	.btn-outline-blue {
		border: 1px solid var(--s-color-blue);
		font-size: 16px;
		line-height: 1;
		color: var(--s-color-blue);
		padding-inline: 12px;
		padding-block: 9px;
		border-radius: 999px;

		&:not(:disabled) {
			transition:
				background-color 0.2s var(--s-default-transition),
				color 0.2s var(--s-default-transition);

			&:hover {
				background-color: var(--s-color-blue);
				color: var(--s-color-white);
			}
		}
	}

	.btn-bubble {
		--s: 36px;

		width: var(--s);
		height: var(--s);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		color: var(--s-color-white);

		&:disabled {
			cursor: not-allowed;
			background-color: var(--s-color-gray);
		}

		&:not(:disabled) {
			cursor: pointer;
			background-color: var(--s-color-primary);
			transition: background-color 0.2s var(--s-default-transition);

			&:hover {
				background-color: var(--s-color-yellow);
			}
		}
	}

	.btn-bubble__chevron-icon {
		width: 12px;
		height: 20px;
	}
}
