---
import LangGamePlayerBg from '~/astro/components/land-game/lang-game--player-bg.astro'
import LangGameKnightBg from '~/astro/components/land-game/land-game--knight-bg.astro'
---
<section class="land-game">
		<header>
			<div class="land-game__picture">
				<img
					class="land-game__picture__layer land-game__picture__bg"
					src="/assets/pictures/landing/game-bg.webp"
					alt="game-bg"
					loading="lazy"
					decoding="async"
				/>
				<img
					class="land-game__picture__layer land-game__picture__money"
					src="/assets/pictures/landing/game-money.webp"
					alt="game-money"
					loading="lazy"
					decoding="async"
				/>
				<LangGamePlayerBg />
				<img
					class="land-game__picture__layer land-game__picture__player"
					src="/assets/pictures/landing/game-player.webp"
					alt="game-player"
					loading="lazy"
					decoding="async"
				/>
				<LangGameKnightBg />
				<img
					class="land-game__picture__layer land-game__picture__knight"
					src="/assets/pictures/landing/game-knight.webp"
					alt="game-knight"
					loading="lazy"
					decoding="async"
				/>
				<img
					class="land-game__picture__layer land-game__picture__hand"
					src="/assets/pictures/landing/game-hand.webp"
					alt="game-hand"
					loading="lazy"
					decoding="async"
				/>
				<img
					class="land-game__picture__layer land-game__picture__paper-texture"
					src="/assets/pictures/landing/game-texture.webp"
					alt="game-texture"
					loading="lazy"
					decoding="async"
				/>
			</div>
		</header>
</section>
