<div class="land-hero__city-bg">


	<div class="land-hero__city-bg__bg-group">
		<img src="/assets/pictures/landing/hero-sun.webp" alt="" class="land-hero__city-bg__sun" />
		<img src="/assets/pictures/landing/hero-king.webp" alt="" class="land-hero__city-bg__king" />
		<img src="/assets/pictures/landing/hero-queen.webp" alt="" class="land-hero__city-bg__queen" />
	</div>

	<svg viewBox="0 0 1604 464" class="land-hero__city-bg__main-group">
		<symbol id="land-hero__layuot__city-bg">
			<image xlink:href="/assets/pictures/landing/hero-city.webp" width="1624" height="453" y="11" />
		</symbol>

		<symbol id="land-hero__mask-path">
			<rect width="1604" height="464" fill="black" />
			<path d="M1335.45 15.2295L1340.27 59.0449L1368.15 121.775L1374.52 153.652L1384.42 152.931L1389.4 56.9424L1409.31 40.5498L1486.01 62.0254L1505.5 92.5332V168.786L1542.49 193.315H1551.22V352.867L1557.76 382.849L1585.73 394.125V446.627L9.99902 453.815V440.442L52.5049 411.161L82.4785 396.936L102.14 382.272H696.092L736.036 348L797.819 335.235L813.295 305.941L824.197 241.517L834.328 229.697L860.488 222.049H915.719V212.786H949.255V223.986L974.737 215.492L968.704 103.654L1003.29 89.9043L1026.7 86.2324L1135.16 53.4619H1155.01L1201.21 76.5625V123.514L1222.79 133.008V95.1709L1264.85 86.7588L1274.6 96.0723H1298.54L1318.89 44.4414L1323.56 12.0996L1335.45 15.2295Z" fill="white"/>
		</symbol>

		<mask id="land-hero__mask-city">
			<use xlink:href="#land-hero__mask-path" />
		</mask>

		<path d="M1341.89 11.3555L1350.04 56.4053L1376.34 115.593L1379.64 52.0244L1406.98 29.5127L1492.38 53.4248L1515.5 89.6113V163.419L1545.51 183.315H1560.77V350.591L1566.87 374.12L1603.71 388.129L1595.73 456.627L0 463.814V435.188L47.4932 402.471L76.5186 388.695L97.8574 372.272H692.907L731.962 338.631L791.18 326.396L803.703 302.69L814.801 237.114L828.67 220.934L859.057 212.049H905.719V202.786H959.255L964.341 208.417L958.332 97.0166L1000.63 80.1982L1024.46 76.46L1133.69 46.6953L1157.37 43.4619L1211.21 70.3828V116.988L1212.79 117.683V86.9736L1267.99 75.9326L1278.61 86.0723H1291.73L1309.35 41.3682L1319.83 0L1341.89 11.3555ZM1318.89 44.4414L1298.54 96.0723H1274.6L1264.85 86.7588L1222.79 95.1709V133.008L1201.21 123.514V76.5625L1155.01 53.4619H1135.16L1026.7 86.2324L1003.29 89.9043L968.704 103.654L974.737 215.492L949.255 223.986V212.786H915.719V222.049H860.488L834.328 229.697L824.197 241.517L813.295 305.941L797.819 335.235L736.036 348L696.092 382.272H102.14L82.4785 396.936L52.5049 411.161L9.99902 440.442V453.815L1585.73 446.627V394.125L1557.76 382.849L1551.22 352.867V193.315H1542.49L1505.5 168.786V92.5332L1486.01 62.0254L1409.31 40.5498L1389.4 56.9424L1384.42 152.931L1374.52 153.652L1368.15 121.775L1340.27 59.0449L1335.45 15.2295L1323.56 12.0996L1318.89 44.4414Z" fill="white"/>

		<g mask="url(#land-hero__mask-city)">
			<use xlink:href="#land-hero__layuot__city-bg"></use>
		</g>

	</svg>

	<svg viewBox="0 0 1604 464" class="land-hero__city-bg__chunk-group">
		<image xlink:href="/assets/pictures/landing/hero-pawn.webp" width="83" height="123" x="1358" y="300" class="land-hero__city-bg__pawn" />
		<image xlink:href="/assets/pictures/landing/hero-knight.webp" width="197" height="218" x="955" y="224" />
	</svg>
</div>
